<aside class="sidebar affix" >
    <div class="sidebar-container">
        <div class="sidebar-scrollpane">
            <div class="sidebar-content">
                <div class="sidebar-profile clearfix">
                    <a href="#" class="pull-left">
                        <figure class="profile-picture">
                                
                            <img src="assets/img/uploads/profile6.jpg" class="img-circle" alt="User Name">

                        </figure>
                    </a>
                    <h5><strong>Welcome</strong></h5>
                    <h6>{{username}}</h6>
                </div>
                <h4>Users</h4>
                <nav class="main-nav">
                    <ul id="sidebar-nav" class="sidebar-nav">
                    
                        <li routerLinkActive="active" class="">
                            <a>
                                <i class="fa fa-tachometer fa-fw fa-lg"></i> Dashboard 
                            </a>
                        </li>
                        <li class="">
                            <a>
                                <i class="fa fa-refresh fa-fw fa-lg"></i> Status Dashboard 
                            </a>
                        </li>
                       
                        
                
                    
                       
                    </ul><!-- sidebar-nav -->
                </nav>
            </div><!-- sidebar-content -->
        </div><!-- scrollpane -->
    </div><!-- sidebar-container -->
</aside>