<header class="header affix" role="banner">
		<nav class="header-navbar">
			<div class="navbar-header clearfix">
				<a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mini-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-plus"></i>
				</a>
				<a class="logo pull-left" href="index.php">
					<img style="margin-top:-8px;width: 76%;" class="img-responsive" src="assets/img/core/logo1.png"  alt="">
				</a>
				<a class="sidebar-switch pull-right"><span class="icon fa 2x"></span></a>
			</div>
			<div class="Dashboard_name">
			  <h5>Task Tracking System</h5>
			</div>
			<div class="collapse navbar-collapse" id="mini-navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a href="help.php"> <i class="fa fa-question"></i> <span>Help</span></a></li>-->
					<li class="turn-off"><a (click)="logout()"> <i class="fa fa-power-off"></i> <span>Log Out</span></a></li>
				</ul>
			</div>
			
		</nav>
	</header>